@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.button {
  @include flexbox;
  font-weight: 400;
  border-radius: 4px;
  height: 55px;

  &:hover {
    filter: brightness(110%);
  }

  &:active {
    filter: brightness(90%);
  }

  &:focus {
    outline: none;
  }

  &.normal {
    padding: 6px 13px;
  }

  &.big {
    padding: 20px 40px;
  }

  &.isFullWidth {
    width: 100%;
  }

  &.red {
    background: $color-red;

    &:disabled {
      cursor: not-allowed;
      pointer-events: none;
      transition: all $transition-time ease-in;
      background: $color-gray;
    }
  }

  &.gray {
    background: $color-gray;
  }

  &.white {
    background: $color-white;
  }

  &.transparentWhite {
    padding: 20px 30px;
    color: $color-white;
    background-color: transparent;
    border: 1px solid $color-white;

    &:hover {
      color: $color-gray;
      border-color: $color-gray;
    }

    &:active {
      filter: brightness(85%);
    }
  }

  &.transparent {
    padding: 0;

    &:disabled {
      pointer-events: none;
      transition: all $transition-time ease-in;
    }
  }
}
