@import './assets/styles/mixins';
@import './assets/styles/variables';

.input {
  background: rgba(50, 50, 50, 0.8);
  mix-blend-mode: normal;
  opacity: 0.7;
}

.searchBlock {
  @include flexbox;
  
  & > * {
      &:last-child {
      margin-left: 20px;
    }
  }
}