$default-font: 'Montserrat';

$color-black: var(--color-black-100);
$color-white: var(--color-white-100);
$color-red: var(--color-red-100);
$color-gray: var(--color-gray-100);
$color-gray-dark: var(--color-gray-dark-100);

$transition-time: 0.125s;

$cellSpacing: 30px;

$color-border: $color-red;

$headerHeight: 110px;
$contentMarginTop: $cellSpacing;

// sidebar
$logoHeight: 110px;
